<!DOCTYPE html>
<html lang="ar" mode="<%= darkMode?"dark":"light" %>">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/vars.css" />
  <link rel="stylesheet" href="css/about.css" />
  <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
  <title>عن موقع عُلِم</title>
</head>

<body dir="rtl">
  <span><a href="/"><i class="fa fa-arrow-right"></i> الصفحة الرئيسية</a></span>
  <header>
    <%- include('components/logo') %>
      <h1>عن موقع عُلِم</h1>
  </header>
  <main>
    <h3>من هو عُلِم: -</h3>
  <p> عُلِم، موقع هادف يساعد طلاب وهاوي الحاسبات والتكنولوجيا لدراسة ما يحتاجونه من المجالات الدقيقة داخل التخصصات التقنية؛ تم بدأ تخطيط هذا الموقع في شهر أغسطس من سنة 2023، وبدأ تنفيذ انتاجه في شهر فبراير من سنة 2024 ليكون المصدر الأساسي للمعلومات التي سيقدمها فريق متطوعِ عُلِم بمجالات تطوير التطبيقات والبرامج والإدارة وغيرها؛ كما تم تصميمه عمداً ليكون مصدر معلومات مستقل عن الفريق ليلبي متطلبات التعلم المستقل؛ عُلِم هو موقع ومنصة وتطبيق يفيد الناس في تعلم وممارسة ومراجعة المناهج بشكل سلس ونقي ومتطور.</p>
  </main>
  <section>
    <h3>أهداف الموقع: -</h3>
    <ol>
      <li>
        <h4>مناهج باللغة العربية</h4>
        <p>عند بدأ تعلمك للبرمجة ستلاحظ تحيز هذا المجال للمناشير الاجنبية، حيث أنه من الصعب لك ان تتعلم البرمجة بدون تعلمك للغة الانجليزية، وهذا كان قديماً، اليوم يتيح لك عٌلِم مناهج عربية حديثة تسهلك عليك الدخول او الاستمرار في هذا المجال.</p>
      </li>
      <li>
        <h4>مطورين في سوق العمل</h4>
        <p>توفر مبرمجين يعملون في سوق العمل سيجلب العملة الأجنبية الى الوطن بكثرة، وسيزيد ذلك من انتاجية سوق العمل بسبب توفر رواد التكنولوجيا فيه.</p>
      </li>
      <li>
        <h4>مصدر متاح للطلبة المهتمين بالتكنولوجيا</h4>
        <p>كل الطلبة يلجؤون لدراسة المناهج التعلمية المعقدة للتقنيات الجديدة تخطيطاُ لمشاريع التخرج أو لدخولٍ قوي لسوق العمل؛ عُلِم هو الأنسب في جعلك تختار التقنية وتعلمها واتقانها بدون اللجوء الى المناهج الأجنبية المعقدة.</p>
      </li>
      <li>
        <h4>مركز للمتعلمين الهواة</h4>
        <p>أولى المشاكل التي يواجهها من يفكر في تعلم البرمجة هي انعدام المصادر، وإن وجِدت ستوجد قديمة مهملة غير قابلة للتعديل أو إعادة النشر أو إرجاعها في دراسة؛ وهنا يكون عُلِم قد حقق المعادلة المطلوبة لجعل الهاوي ممارساً لهوايته بالشكل الطبيعي والمطلوب.</p>
      </li>
    </ol>
  </section>
  <%- include('./components/footer') %>
</body>

</html>