<!DOCTYPE html>
<html lang="ar" mode="<%= darkMode?"dark":"light" %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حسابك</title>
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
</head>
<body dir="rtl">
    <div>
        <i class="fa fa-user-slash"></i>
        <p>نأسف للغاية عن كون هذه الميزة غير متوفرة هذه الأيام.</p>
    </div>
    <a href="/"><i class="fa fa-arrow-right"></i> الصفحة الرئيسية</a>
</body>
</html>